* {
    margin: 0;
    padding: 0;
}
html {
    box-sizing: border-box;
    font-size: 20px;
    font-family: "Montserrat";
    scroll-behavior: smooth;
}

body {
    background-color: white;
}
h1, h2, h3 {
    font-family: "Lexend Mega";
}

.main-content h2 {
    font-size: 2.5rem;
}
.nav {
    background-color: black;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 3rem;
    border-bottom: 1px solid slategray;
    position: fixed;
    top: 0;
    z-index: 5;
    
}
.nav li {
    display: inline-block;
    color:seashell;
    font-family: "Lexend Mega";
    font-size: 1.5rem;
    margin-right: 1rem;
    margin-left: .5rem;
}

a {
    text-decoration: none;
}
a:visited {
    color: seashell;
}
a:hover {
    color: red;
}

h1 {
    font-size: 2.5rem;
    line-height: 2rem;
}


.photo-and-name img {
    max-width: 100%;
    border-radius: 100%;
    border: 3px solid rgb(82, 82, 82);
}
.photo-and-name h2 {
    margin-top: 1rem;
    line-height: 1.5rem;
}

.about {
    margin-top: 2rem;
}
.about p {
    margin-top: .2rem;
    margin-left: .2rem;
    line-height: 1.5rem;
}
.projects-header {
    margin-top: 5rem;
    margin-bottom: -.5rem;
}
.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.gallery-box {
    width: 40%;
    margin: .5rem;
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
    

}
.gallery-box img {
    max-width: 100%;
    
}
.gallery-box figcaption {
    margin-top: 2rem;
}

.skills-box {
    width: 100%;
    margin: 1rem; 
}
.skills-box img {
    max-width: 100%;
}
@media only screen and (min-width: 800px) {
    .grid {
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: repeat(16, 1fr);
        position: absolute;
        top: 3rem;  
    }
    .photo-and-name {
        grid-column: 1  / 4;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-top: 2rem;
        margin-left: 2rem;;    
    }
    .main-content {
        grid-column: 5 / 14;
        margin-top: 2rem;
        
    }
    .side-bar {
        grid-column: 15 / 16;
        display: flex;
        flex-direction: column;
        position: absolute;
        margin: 1rem; 
        top: 3.6rem;
        align-items: center;
        float: right;
    }
    .mobile-skills {
        display: none;
    }
    }
   
    @media only screen and (max-width: 800px) {
        .nav {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            width: 100%; 
        }
        .nav li {
            display: inline-block;
            color:seashell;
            font-family: "Lexend Mega";
            font-size: 1rem;
            margin: 0 auto;
        }
        .grid {
            display: flex;
            flex-direction: column;
            
        }
        .photo-and-name  {
            display: flex;
            flex-direction: column;
            align-content: center;
            width: 80%;
            margin: 2rem auto;
            text-align: center;
            margin-top: 4rem;
        }
        .about {
            width: 90%;
            margin: .2rem auto;
        }
        .side-bar {
            display: none;
        }
        .mobile-skills {
            display: flex;
            flex-direction: column;
            width: 100%;
            margin-top: 2rem;
            align-items: center;
            
        }
        .mobile-skills-box {
            width: 100%;    
        }
        .mobile-skills-box img {
            width: 100%;    
        }
        .mobile-skills-container {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 80%;
            margin: 1rem auto;
            
        }
        .projects {
            display: flex;
            flex-direction: column;
            width: 100%;
            align-items: center;

        }
        .gallery-box {
            width: 80%;
            margin: .5rem;
            display: flex;
            flex-direction: column;
            align-content: center;
            text-align: center;
            
        
        }
        .gallery-box img {
            max-width: 100%;
            
        }
        .gallery-box figcaption {
            margin-top: 2rem;
        }
        
    }
    